@{
    bool verLayout = ViewBag.verBotoes ?? false;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Controle_Estoque</title>

    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/datatables.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />

    <script src="~/js/jquery-1.12.2.min.js"></script>
    <script src="~/js/jquery.mask.js"></script>
    <script src="~/js/datatables.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.blockUI.js"></script>
    <script src="~/js/jquery-ui.js"></script>

</head>
<body>
    <partial name="_CookieConsentPartial" />
    <div class="container body-content col-md-12">
        @if (verLayout)
        {
            <div class="navbar-header row col-md-12 painel_central_superior">
                <div class="titulo_layout col-md-11"> Sistema de Controle de Estoque </div>

                <a href="#" class="" style="float:right; margin-right:20px; margin-top:10px;">LogOut</a>
                <div class="glyphicon glyphicon-cog" style="float:right;color:black; margin-top:12px;"></div>
            </div>
            <div class="col-md-12" id="tabsTop">
                <div class="board">
                    <div class="board-inner">
                        <div class="painel_lateral">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#tabsTop-1" data-toggle="tab" class="btn btn-dark">
                                        <span class="round-tabs one"> Produtos </span>
                                    </a>
                                </li>
                                <div style="margin-top:20px;"></div>
                                <li>
                                    <a href="#tabsTop-2" data-toggle="tab" class="btn btn-dark">
                                        <span class="round-tabs two"> Serviços </span>
                                    </a>
                                </li>
                                <div style="margin-top:20px;"></div>
                                <li>
                                    <a href="#tabsTop-3" data-toggle="tab" class="btn btn-dark">
                                        <span class="round-tabs three"> Estoque </span>
                                    </a>
                                </li>
                                <div style="margin-top:20px;"></div>
                                <li>
                                    <a href="#tabsTop-4" data-toggle="tab" class="btn btn-dark">
                                        <span class="round-tabs four"> Logistica </span>
                                    </a>
                                </li>
                                <div style="margin-top:20px;"></div>
                                <li>
                                    <a href="#tabsTop-5" data-toggle="tab" class="btn btn-dark">
                                        <span class="round-tabs five"> Vendas </span>
                                    </a>
                                </li>
                                <div style="margin-top:20px;"></div>
                                <li>
                                    <a href="#tabsTop-6" data-toggle="tab" class="btn btn-dark">
                                        <span class="round-tabs six"> Relatorios </span>
                                    </a>
                                </li>
                                <div style="margin-top:20px;"></div>
                                <li>
                                    <a href="#tabsTop-7" data-toggle="tab" class="btn btn-dark">
                                        <span class="round-tabs six"> Estatisticas </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabsTop-1">
                                @Html.Partial("Produtos")
                            </div>

                            <div class="tab-pane" id="tabsTop-2">
                                @Html.Partial("Servicos")
                            </div>

                            <div class="tab-pane" id="tabsTop-3">
                                @Html.Partial("Estoque")
                            </div>

                            <div class="tab-pane" id="tabsTop-4">
                                @Html.Partial("Logistica")
                            </div>

                            <div class="tab-pane" id="tabsTop-5">
                                @Html.Partial("Vendas")
                            </div>

                            <div class="tab-pane" id="tabsTop-6">
                                @Html.Partial("Relatorios")
                            </div>

                            <div class="tab-pane" id="tabsTop-7">
                                @Html.Partial("Estatisticas")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        @RenderBody()
    </div>
    <img alt="" src="~/images/loading.gif" id="domMessage" class="tela_aguarde" />

    <script src="~/js/Shared/custom-datatable.js"></script>
    <script src="~/js/Shared/custom-site.js"></script>
    <script src="~/js/Shared/custom-dialog.js"></script>
    <partial name="_Dialog" />
    @RenderSection("Scripts", required: false)
</body>
</html>